/.idea
/.vscode

/dist
/docs
/coverage
/node_modules

.env
.npmrc
docker-compose.yml

npm-error.log*
npm-debug.log*

pnpm-error.log*
pnpm-debug.log*

yarn-error.log*
yarn-debug.log*

lerna-debug.log*
lerna-error.log*

.DS_Store
Thumbs.db
